body {
    font-family: Arial, sans-serif;
    margin: 40px;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f4f6f8;
}


.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:10px auto;
    padding: 40px 80px;
}

.histogram-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

#gdpHistogram{
    background-color: white;
    padding: 100px;
    border-radius: 8px;
    margin-left: 100px;
}

#lifeExpectancyHistogram {
    background-color: white;
    padding: 100px;
    border-radius: 8px;
    margin-right: 100px;
}


